* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	height: 100%;
}

body {
	border: 0 none;
}

#container,
#content {
	min-width: 1400px;
	height: 100%;
}

#content {
	background: url('../img/dot_bg.jpg') top left repeat;
}

#content-inner {
	height: 100%;
	margin: 0 480px 0 380px;
}

.sidebar {
	background-color: #EEEEEE;
	box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.55);
	height: 800px;
	padding: 15px;
	position: absolute;
}

#leftbar {
	left: 100px;
	top: 50px;
	width: 250px;
}

#rightbar {
	right: 100px;
	top: 50px;
	width: 350px;
}
